body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    margin: auto;
    width: 50%;
}

header {
    padding: 20px;
    color: black;
    display: flex;
    justify-content: center;   
}

main {

}

.inline-content {
    border-radius: 25px;
    background-color: rgb(239, 216, 253);
    padding: 15px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
}

.main-container {
    display: flex;
    justify-content: center;
}

header h1 {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.quiz-box {
    text-align: center;
    justify-content: center;
}

.view-score {
    padding: 10px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    background-color: rgb(161, 161, 161);
    border-radius: 15px;
    border: 3px solid rgb(0, 0, 0);
}

.start-button {
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    color: black;
    background-color: rgb(214, 214, 214);
    border: 2px solid black;
    border-radius: 20px;
    font-size: 35px;
}

.start-button:hover,
.view-score:hover {
    cursor: grab;
    background-color: rgb(39, 39, 39);
    color: white;
}

input {
    text-align: left;
    width: 50%;
}


.question-start,
.answer-start {
    background-color: white;
    border-radius: 20px;
    border: solid 3px black;
    padding: 10px;
    margin-top: 10px;
    font-size: 20px;
    width: 400px;
    justify-content: center; 
    display: flex;
    flex-direction: column;
    text-align: center;
}

.question-start {
    background-color: rgb(196, 196, 196);
}

li {
    border: black 1px solid;
    padding: 10px;
    margin: 10px;
    list-style-type: none;
    border-radius: 20px;
    background-color: rgb(208, 224, 255);
}

li:hover {
    cursor: grab;
}

ul {
   padding-inline-start: 0px;
}

.question-start {
    font-weight: bolder;
}

.solution-container {
    font-weight: bolder;
    width: 500px;
    margin: 20px;
}

.container-main {
    padding: 30px;
    margin: 15px;
    display: table;
    margin: auto;
}

.label {
  font-weight: bolder;
  font-size: 20px;
  padding: 15px;
  display: block;
}

.name-Input,
.lastName-Input {
    padding: 5px;
    font-size: 20px;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.2);
    margin: auto;
    width: 150px;
    display: inline;
}

.name-Input:hover,
.lastName-Input:hover {
    background-color: rgb(243, 193, 255);
}

.submit-btn {
   background-color: rgb(121, 182, 119);
   padding: 15px;
   margin: 10px;
   font-size: 18px;
   color: black;
   border-radius: 5px;
   border: solid 1px black;
   display: block;
   text-align: center;
   width: 100px;
}

.header-submit {
    border: 1px solid black;
    border-radius: 15px;
    background-color: rgb(239, 216, 253);
    padding: 15px;
}

.p-Element {
    font-size: 20px;
    font-weight: bold;
    display: inline;
}

.score-list-el {
    list-style-type:decimal;
    background-color: rgb(239, 216, 253);
    width: 200px;
    cursor: none;
}

#button-goBack {
    background-color: rgb(121, 182, 119);
    padding: 15px;
    margin: 10px;
    font-size: 18px;
    color: black;
    border-radius: 5px;
    border: solid 1px black;
}

#button-goBack:hover {
    border: solid 3px black;
    background-color: green;
    color: white;
    cursor: pointer;
}

#button-clear {
    background-color: rgb(121, 182, 119);
    padding: 15px;
    margin: 10px;
    font-size: 18px;
    color: black;
    border-radius: 5px;
    border: solid 1px black;
}

#button-clear:hover {
    border: solid 3px black;
    background-color: green;
    color: white;
    cursor: pointer;
}

.header-highscore {
    text-align: center;
}

.ul-score {
    display: center;
}